[Unit]
Description=Victoria Metrics agent
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm --force vmagent
ExecStart=/usr/bin/docker run --rm \
    --name vmagent \
    -p {{ vmagent.listen_port }}:8429 \
    -v {{ vmagent.host_dir }}:/data \
    {{ vmagent.image }} \ 
    -promscrape.config=/data/scrapeconfigs.yml \
    -remoteWrite.url=https://<vminsert-host>:8480/insert/0/prometheus/api/v1/write \
    -promscrape.cluster.name

ExecStop=/usr/bin/docker stop -t 10 vmagent
ExecReload=/usr/bin/docker kill -SIGHUP vmagent

[Install]
WantedBy=multi-user.target