unauthorized_user:
  url_map:
  - src_paths:
    - "/api/v1/query"
    - "/api/v1/query_range"
    - "/api/v1/label/[^/]+/values"
    url_prefix:
    {% for host in groups['vmselect'] -%}
    - "{{ hostvars[host]['inventory_hostname'] }}:{{ vmselect.api_port }}/select/0/prometheus"
    {% endfor -%}
    retry_status_codes: [500, 502]
  - src_paths: ["/api/v1/write"]
    url_prefix:
    {% for host in groups['vminsert'] -%}
    - "{{ hostvars[host]['inventory_hostname'] }}:{{ vminsert.api_port }}/insert/0/prometheus"
    {% endfor -%}
  default_url:
  {% for host in groups['vmselect'] -%}
  - "{{ hostvars[host]['inventory_hostname'] }}:{{ vmselect.api_port }}/select/0/vmui"
  {% endfor -%}
