[Unit]
Description=Victoria Metrics component
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm --force vmstorage
ExecStart=/usr/bin/docker run --rm \
    --name vmstorage \
    -p {{ vmstorage.api_port }}:8482 \
    -p {{ vmstorage.vminsert_port }}:8400 \
    -p {{ vmstorage.vmselect_port }}:8401 \
    -v {{ vmstorage.host_dir }}:/vmstorage-data:rw \
    {{ vmstorage.image }} \
    -retentionPeriod={{ vmstorage.retention_period }}

ExecStop=/usr/bin/docker stop -t 10 vmstorage

[Install]
WantedBy=multi-user.target